venv/
.venv/
venv*
.venv*
**/venv/
**/.venv/
**/venv*
**/.venv*

env*
.env*
**/env*
**/.env*

.vscode/
**/.vscode*
**/vscode*
**/.vscode

__pycache__/
**/__pycache__*
**/.__pycache__*
**/.pycache__*

.idea
